.btn-open-sidebar {
  display: inline-block !important;
}
.headmenu-title {
  white-space: nowrap;
}
.sidebar, #content {
  transition: margin-left 0.3s cubic-bezier(0, 0.85, 0.72, 0.99);
  will-change: margin-left;
}
.ZU-sidebar-hidden .sidebar {
  margin-left: -250px;
}
.ZU-sidebar-hidden #content {
  margin-left: 0;
}
.headmenu.ZU-sidemenu-animation-allowed {
  transition: left 0.3s cubic-bezier(0, 0.85, 0.72, 0.99)
}
.ZU-sidebar-hidden .headmenu {
  left: 0;
}
.ZU-settings-dropdown {
  margin: 4px;
  top: 30px;
  padding: 6px 14px;
}
.ZU-dropdown {
  display: block;
  transform: translate(0px, 10px);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  opacity: 0;
  user-select: none;
  visibility: hidden;
}
.ZU-dropdown-show {
  transform: translate(0px, 0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s, opacity 0.2s;
}
.ZU-settings-dropdown label,
.ZU-noko-label {
  font-weight: normal;
  margin-bottom: 0;
}
.ZU-noko-label {
  vertical-align: middle;
}
.reply-form-limit-counter {
  /* min-width: 60px; */
  display: inline-block;
}
.ZU-noko {
  margin: 0;
  vertical-align: -1px;
}
.ZU-settings-dropdown input[type="radio"],
.ZU-settings-dropdown input[type="checkbox"] {
  margin: 3px 0 0;
  line-height: normal;
  vertical-align: top;
}
.ZU-settings-dropdown li {
  margin: 4px 0;
}

.ZU-svg-container-btn {
  font-size: 0;
  padding: 0;
  line-height: 0;
}
.ZU-svg {
  fill: currentColor;
}
.ZU-svg-32 {
  height: 32px;
  width: 32px;
}
.ZU-svg-16 {
  height: 16px;
  width: 16px;
}
.dropdown-menu .ZU-svg-16 {
  margin-right: 5px;
}
.ZU-share-dropdown {
  left: 74px;
}
.ZU-boardhideunhide {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s, color 0.2s;
}
.ZU-boardhideunhide:hover {
  color: #3ccd9d;
}
.sidemenu-board-item:hover .ZU-boardhideunhide {
  opacity: 1
}
.ZU-board-unhide-icon {
  display: none;
}
body > textarea {
  position:fixed;
}
.ZU-show {
  display:block;
}
.ZU-refresh-progressbar,
.ZU-refreshbtn-shadow-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.ZU-refreshbtn-shadow-overlay {
  width: 100%;
}
.ZU-refresh-btn {
  box-shadow: none!important;
  overflow: hidden;
}
.ZU-refresh-btn:active .ZU-refreshbtn-shadow-overlay {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.ZU-refresh-progressbar {
  background: linear-gradient(to bottom, transparent 0%, rgba(22, 160, 133, 0.48) 100%);
  width: 0%;
  opacity: 0;
  transition: width 0s 0.4s, opacity 0.4s;
}
.ZU-refresh-btn i,
.ZU-refresh-btn span {
  position: relative;
}
.ZU-nomargin-btn-group {
  margin-left: -1px;
  float: right;
}
.ZU-panel-btn {
  width: 40px;
}
.ZU-onactive-show,
.active .ZU-onactive-hide {
  display: none;
}
.active .ZU-onactive-show {
  display: block;
}
.ZU-btn-link {
  color: #333333 !important;
  text-decoration: none !important;
}
.ZU-btn-link.active {
  color: #333;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  outline: none !important;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.post-img .post-embed .post-embed-play-btn {
  z-index: 2
}
.post-img .post-img-buttons {
  margin-top: -36px;
  max-height: 18px;
}
.post .ZU-hide-board-by-op-container {
  padding-left: 6px;
}
span.ZU-hide-board-by-op {
  padding: 0;
}
.ZU-settingspage-icon {
  vertical-align: middle;
  margin: -8px;
  margin-right: 0;
}
.ZU-settings-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.fancy-fadeout {
  transition-duration: 0.2s;
  transition-property: opacity;
}
.fancy-resize {
  transition-duration: 0.4s;
  transition-property: height, width;
  transition-delay: 0s;
  overflow: hidden;
}
.fancy-fadeout {
  opacity: 0;
}
.fancy-fadein {
  animation: fancyfadein 0.2s;
}
@keyframes fancyfadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
#ZU-top-autohide {
  padding: 6px 0;
}
.ZU-enter-autohide-top {
  margin-top: 4px;
  width: 100%;
}
#ZU-settings-main {
  padding-bottom: 5px;
}
.ZU-autohide-type-switch {
  float: right;
}
.ZU-autohide-content {
  margin-top: 8px;
  min-width: 217px;
  min-height: 70px;
}
.ZU-xbtn {
  padding: 0px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  border: none;
  border-radius: 100px;
}
.ZU-autohide-attachemnt-entry{
  background-color: #efefef;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  margin: 4px;
  background-size: cover;
  background-position: center center;
  transition: transform 0.3s;
}
.ZU-autohide-attachemnt-entry .ZU-xbtn {
  transform: scale(0);
  transition: transform 0.2s;
  float: right;
}
.ZU-autohide-attachemnt-entry:hover .ZU-xbtn {
  transform: scale(1);
}
#ZU-autohide-images > div {
  font-size: 0;
}
#ZU-autohide-images {
  overflow: auto;
  resize: both;
  /*margin: 4px -4px -4px;*/
  max-width: 600px;
}
.ZU-away {
  transform: scale(0);
}
.threads-scroll-spy {
  width: auto;
}
.threads-scroll-spy > ul {
  width: 400px;
}
.threads-scroll-spy .threads-scroll-toggler {
  left: -20px;
  right: unset;
}
.dialog-view textarea {
  min-height: 100px;
  resize: vertical;
  max-height: calc(100vh - 230px);
}
.dialog-view .dialog-footer.panel-footer {
  height: auto;
}
.dialog.panel.panel-default {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.dialog-footer.panel-footer {
  position: relative;
}
.dialog-body.panel-body {
  margin-bottom: 40px;
  position: relative;
}
.dialog-footer.panel-footer .input-group {
  display: flex;
}
.dialog-footer.panel-footer .input-group-btn {
  width: auto;
}
.dialog-footer.panel-footer .input-group-btn button {
  height: 100%;
}
+ `
.sidebar-logo {
  transition: transform .2s;
}
.edit-null .sidebar-logo {
  transform: translateX(-75px);
}
.ZU-sidebar-btn {
  background: none;
  border: none;
  color: #666;
  outline: none;
  transition: color .2s;
  font-size: 14px;
}
.ZU-sidebar-btn:hover {
  color: #1abc9c;
}
.ZU-restyle-null {
  position: absolute;
  opacity: 0;
  transition: color .2s, opacity .2s;
}
#sidebar:not(.edit-null) .sidebar-logo:hover .ZU-restyle-null {
  opacity: 1;
}
.ZU-nulltwk-container  {
  opacity: 0;
  pointer-events: none;
  width: 137px;
  height: 106px;
  color: #999;
  font-family: Roboto;
  text-align: center;
  font-size: 0;
  display: inline-block;
  vertical-align: -7px;
  user-select: none;
  position: absolute;
  right: 20px;
  transform: translate(10px);
  top: 8px;
  z-index: 2;
  transition: opacity .2s, transform .2s;
}
.edit-null
.ZU-nulltwk-container {
  opacity: 1;
  pointer-events: all;
  transform: none;
}
.ZU-nulltwk-range-container label,
.ZU-nulltwk-range-container output {
  font-size: 11px;
  margin-bottom: -1px;
}
.ZU-nulltwk-range-container label {
  float: left;
}
.ZU-nulltwk-range-container output {
  float: right;
  padding: 0;
  line-height: normal;
  color: inherit;
}
.ZU-nulltwk-save, .ZU-nulltwk-revert {
  padding: 0;
  margin: 0 8px;
  color: #999;
}
.ZU-nulltwk-btn:hover {
  color: #3c9;
}
.ZU-nulltwk-range-container {
  transition: color .2s;
  margin: 0;
  display: block;
  margin-top: -2px;
  margin-bottom: 3px;
}
.ZU-nulltwk-range-container:hover {
  color: #3c9;
}
.ZU-range {
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  background: transparent;
}
.ZU-range::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
.ZU-range:focus {
  outline: none;
}
.ZU-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  background-color: #b7b7b7;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 3px black;
  transition: transform .2s, background-color .2s;
}
.ZU-range::-moz-range-thumb {
  height: 8px;
  width: 8px;
  background-color: #b7b7b7;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 3px black;
  transition: transform .2s, background-color .2s;
}
.ZU-range::-ms-thumb {
  height: 8px;
  width: 8px;
  background-color: #b7b7b7;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 3px black;
  transition: transform .2s, background-color .2s;
}
.ZU-range::-webkit-slider-thumb:hover {
  transform: scale(1.25);
}
.ZU-nulltwk-range-container:hover .ZU-range::-webkit-slider-thumb {
  background-color:#3c9;
}
.ZU-range::-moz-range-thumb:hover {
  transform: scale(1.25);
}
.ZU-nulltwk-range-container:hover .ZU-range::-moz-range-thumb {
  background-color:#3c9;
}
.ZU-range::-ms-thumb:hover {
  transform: scale(1.25);
}
.ZU-nulltwk-range-container:hover .ZU-range::-ms-thumb {
  background-color:#3c9;
}
.ZU-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background: linear-gradient(to bottom, transparent 2.999px, #000 3px, #000 3.999px, #777 4px, #777 4.999px, transparent 5px)
}
.ZU-range::-moz-range-track {
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  cursor: pointer;
  color: transparent;
  border: none;
  background: linear-gradient(to bottom, transparent 2.999px, #000 3px, #000 3.999px, #777 4px, #777 4.999px, transparent 5px)
}
.ZU-range::-ms-track {
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
}
.ZU-range::-ms-fill-lower, .ZU-range::-ms-fill-upper {
  background: linear-gradient(to bottom, transparent 2.999px, #000 3px, #000 3.999px, #777 4px, #777 4.999px, transparent 5px)
}
.ZU-boardlist-select {
	display: inline-block;
	width: 140px;
	padding: 0px;
	height: 25px;
	vertical-align: middle;
	margin: 0 4px;
}
.ZU-zeropage-newthreadform {
	z-index: 2;
	position: relative;
}
.ZU-SSS, .ZU-SSS:hover {
	background: #dcc1ff;
}
.ZU-expand-refs:not(:hover) {
	color: inherit;
}
.sidemenu-board-title, .post-id > span {
	word-break: break-word;
}
#ZU-invidious-instance {
  max-width: 240px;
}
.post-img-full {
  max-width: 100%;
}

/* -------------- YOBA media previews -------------- */
.mv-container {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.media-viewer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  user-select: none;
}
.media-viewer {
  background-color: rgba(0, 0, 0, 0.75);
}
.mvc-collapsed .mv-label {
  display: none;
}
.mvc-collapsed .media-viewer {
  background-color: transparent;
}
.mv-transparent/* , .mv-collapsed */ {
  background-color: transparent;
  pointer-events: none;
}
.media-viewer .media-item {
  transition-property: transform;
  transition-duration: .25s;
  transform-origin: center;
  transform: none;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  pointer-events: all;
}
.mv-label {
  position: absolute;
  bottom: 8px;
  left: 50%;
  color: white;
  padding: 2px 8px;
  background: #00000030;
  border-radius: 30px;
  transform: translate(-50%, 0);
  z-index: 2;
  opacity: 0;
  transition: opacity 1.5s;
}
.mv-label.mvl-visible {
  opacity: 1;
  transition-duration: .15s;
}
.mv-button {
  cursor: pointer;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 80px;
  opacity: 0;
  transition: opacity .2s;
  z-index: 2;
}
.mv-button:hover {
  opacity: 1;
}
.mv-prev {
  left: 0;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, transparent 0%, rgba(0,0,0,0.4) 100%);
}
.mv-next {
  right: 0;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.4) 100%);
}
.mv-prev-next::before {
  content: '';
  width: 33px;
  height: 33px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0px, -50%) rotate(-45deg);
  border-top: 2px solid white;
  border-left: 2px solid white;
  box-sizing: border-box;
  transition: transform .2s;
  box-shadow: -2px -2px 2px 0px rgb(0 0 0 / 40%), inset 2px 2px 2px 0px rgb(0 0 0 / 40%);
}
.mv-prev:hover::before {
  transform: translate(-18px, -50%) rotate(-45deg);
}
.mv-next::before {
  transform: translate(-33px, -50%) rotate(135deg);
}
.mv-next:hover::before {
  transform: translate(-16px, -50%) rotate(135deg);
}
.mv-close {
  height: 80px;
  top: 0;
  right: 0;
}
.mv-close::before, .mv-close::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  transition: transform .2s;
}
.mv-close::before {
  left: 50%;
  top: 55px;
  transform: translate(-5px, -50%) rotate(-45deg);
  border-top: 2px solid #ffffff;
}
.mv-close::after {
  left: 50%;
  top: 29px;
  transform: translate(-5px, -50%) rotate(-45deg);
  border-left: 2px solid #ffffff;
}
.mv-restore {
  height: 80px;
  left: 0;
  top: 0;
}
.mv-restore::before, .mv-restore::after {
  content: '';
  width: 26px;
  height: 26px;
  border: 2px solid #fff;
  position: absolute;
  left: 22px;
  top: 26px;
}
.mv-restore::after {
  transform: translate(8px, -6px);
  border-bottom: none;
  border-left: none;
}
.media-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
.mv-under {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  top: 0;
}
.mv-over {
  display: none;
  position: relative;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.loaded .mv-over {
  display: block;
}
.media-item::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 3px solid white;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4), inset 0 0 0 3px rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.8) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
  animation: c-spin 0.7s infinite linear;
}
.media-item.loaded::before {
  content: none;
}
.placeholder-svg {
  pointer-events: none;
}
.no-transition {
  transition: none!important;
}
.ZU-thumb-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@keyframes c-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}